---
const { greyed } = Astro.props as { greyed: boolean }
---
<div class="flag" data-missing={String(greyed)}>
	<div class="white-diagonal top-left"></div>
	<div class="white-diagonal top-right"></div>
	<div class="red-diagonal top-left"></div>
	<div class="red-diagonal top-right"></div>
	<div class="white-cross horizontal"></div>
	<div class="white-cross vertical"></div>
	<div class="red-cross horizontal"></div>
	<div class="red-cross vertical"></div>
</div>
<style>
    .flag[data-missing=true] {
        filter: grayscale(100%);
    }

    .flag {
        position: relative;
        width: 20px;
        height: 20px;
        background-color: #00247D; /* Dark blue */
        border: 1px solid #000;
        overflow: hidden;
    }

    /* Horizontal and Vertical Crosses */
    .white-cross {
        position: absolute;
        background-color: #FFFFFF;
    }

    .white-cross.horizontal {
        width: 100%;
        height: 20%;
        top: 50%;
        transform: translateY(-50%);
    }

    .white-cross.vertical {
        width: 20%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .red-cross {
        position: absolute;
        background-color: #CF142B;
    }

    .red-cross.horizontal {
        width: 100%;
        height: calc(100% / 15 * 1.5);
        top: 50%;
        transform: translateY(-50%);
    }

    .red-cross.vertical {
        width: calc(100% / 15 * 1.5);
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Diagonal Stripes */
    .white-diagonal {
        position: absolute;
        width: 150%;
        height: calc(100% / 15 * 2);
        background-color: #FFFFFF;
        transform-origin: center center;
    }

    .white-diagonal.top-left {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .white-diagonal.top-right {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .red-diagonal {
        position: absolute;
        width: 150%;
        height: calc(100% / 15);
        background-color: #CF142B;
        transform-origin: center center;
        z-index: 1;
    }

    .red-diagonal.top-left {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .red-diagonal.top-right {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
</style>