---
import i18next, { changeLanguage } from "i18next";
import { getImage } from "@astrojs/image";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import MainLayout from "@web/layouts/MainLayout.astro";
import getAbout from "@server/actions/GetAbout";

changeLanguage("en");

const { title, banner, synopsis } = await getAbout({
    language: i18next.language
});
const synopsisHtml = documentToHtmlString(synopsis);
const { src } = await getImage({
    src: banner,
    width: "798",
    height: "386",
    format: "avif"
});
---
<MainLayout>
	<main id="main" tabindex="-1">
		<h2>{title}</h2>
		<Fragment set:html={synopsisHtml} />
	</main>
</MainLayout>
<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 12px;

		width: 862px;

		background-color: var(--background-color-secondary);
		color: var(--color-text-comment);
		border-radius: var(--border-radius);

		padding: 40px 64px;
	}

	h2 {
		font-family: var(--font-family-title);
        font-size: 32px;
	}

	main :global(p) {
		font-family: var(--font-family-text);
        font-size: 18px;
        line-height: 26px;
	}

	main :global(i) {
		font-style: italic;
	}

	main :global(b) {
		font-weight: bold;
	}

	@media (max-width: 992px) {
		main {
			width: 100%;
			padding: 24px 20px;
		}

        main :global(p) {
            font-size: 16px;
        }

        h2 {
            display: none;
        }
	}
</style>
