---
import Header from "@web/components/Header.astro"
import ResetCss from "@web/styles/ResetCss.astro"
import FontsCss from "@web/styles/FontsCss.astro"
import VariablesCss from "@web/styles/VariablesCss.astro"
import { HeadHrefLangs } from "astro-i18next/components"

export interface Props {
title: string
type: string
}

const { title, type } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{title}</title>
        <link rel="icon" href="/favicon.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <ResetCss/>
        <FontsCss/>
        <VariablesCss/>
        <HeadHrefLangs/>
    </head>
    <body>
        <Header type={type}/>
        <div class="dynamic-content">
            <slot/>
        </div>
    </body>
</html>

<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .dynamic-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--background-main);

        padding-left: 20px;
        padding-right: 20px;
    }
</style>