---
import Header from "@web/components/header/Header.astro"
import Title from "@web/components/header/Title.astro"
import ResetCss from "@web/styles/ResetCss.astro"
import FontsCss from "@web/styles/FontsCss.astro"
import VariablesCss from "@web/styles/VariablesCss.astro"
import { HeadHrefLangs } from "astro-i18next/components"
import type {RelatedPages} from "@server/Utils"

export interface Props { info?: RelatedPages }
const { info } = Astro.props
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <Title info={info}/>
        <link rel="icon" href="/favicon.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <ResetCss/>
        <FontsCss/>
        <VariablesCss/>
        <HeadHrefLangs/>
    </head>
    <body>
        <Header info={info}/>
        <div class="dynamic-content">
            <slot/>
        </div>
    </body>
</html>

<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .dynamic-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--background-main);

        padding-left: 20px;
        padding-right: 20px;

        flex-grow: 1;
    }
</style>
