---
import MainLayout from "@web/layouts/MainLayout.astro"
import Main from "@web/components/page-secondary/SecondaryPageMain.astro"

const { title } = Astro.props as { title: string }
---
<MainLayout title={title}>
	<Main id="main" tabindex="-1">
		<slot />
	</Main>
</MainLayout>