---
import MainLayout from "@web/layouts/MainLayout.astro"
import Main from "@web/components/page-secondary/SecondaryPageMain.astro";
---
<MainLayout>
    <Main id="main" tabindex="-1">
        <slot/>
    </Main>
</MainLayout>