---
import MainLayout from "@web/layouts/MainLayout.astro"
import Main from "@web/components/page-secondary/SecondaryPageMain.astro"
import getTitle from "@server/actions/GetTitle"

const title = getTitle({path: Astro.url.pathname})
---
<MainLayout title={title}>
	<Main id="main" tabindex="-1">
		<slot />
	</Main>
</MainLayout>