---
import { localizePath } from "astro-i18next"
import MainLayout from "@web/layouts/MainLayout.astro"
import LastUpdate from "@web/components/aside/LastUpdate.astro"
import Characters from "@web/components/aside/Characters.astro"
import ThankYou from "@web/components/aside/ThankYou.astro"
import StickyNavBar from "@web/components/StickyNavBar.astro"
import Comments from "@web/components/Comments.astro"
import getLocalizedLinkToComicStrip from "@server/actions/GetLocalizedLinkToComicStrip"
import type {RelatedPages} from "@server/Utils"

export interface Props { info: RelatedPages }

const { info } = Astro.props
const { backward, forward } = info
const previous = backward ? getLocalizedLinkToComicStrip(backward.one) : null
const next = forward ? getLocalizedLinkToComicStrip(forward.one) : null
---

<MainLayout info={info}>
	<div class="grid">
		<main id="main" tabindex="-1">
			<slot />
		</main>
		<LastUpdate />
		<Characters />
		<ThankYou />
		<StickyNavBar info={info} />
		<Comments />
	</div>
</MainLayout>
<script define:vars={{ previous, next }}>
	const handleOnKeyDown = (e) => {
		switch (e.key) {
			case "ArrowLeft":
				if (previous) {
					window.location.href = previous
					e.preventDefault()
				}
				break
			case "ArrowRight":
				if (next) {
					window.location.href = next
					e.preventDefault()
				}
				break
		}
	}

	document.body.addEventListener("keydown", handleOnKeyDown)

	const main = document.querySelector("main");
	const MOVE_THRESHOLD = 100;

	let initialX = 0;
	let moveX = 0;

	main.addEventListener("touchstart", e => {
    	initialX = e.touches[0].pageX;
	});

	main.addEventListener("touchmove", e => {
		const currentX = e.touches[0].pageX;
		moveX = currentX - initialX;
	});

	main.addEventListener("touchend", () => {
		if (moveX < MOVE_THRESHOLD * Math.sign(moveX) && next) {
			window.location.href = next
		} else if (moveX > MOVE_THRESHOLD * Math.sign(moveX) && previous) {
			window.location.href = previous
		}

		moveX = 0;
	});
</script>
<style>
	main {
		grid-area: main;
		display: flex;
		position: relative;
	}

	.grid {
		display: grid;
		grid-template-columns: var(--strip-width) 208px;
		gap: 18px;

		grid-template-areas:
			"main last-update"
			"main characters"
			"main thank-you"
			"sticky-bar nothing"
			"comments comments";
	}

	@media (max-width: 992px) {
		.grid {
			grid-template-columns: 1fr;
			grid-template-areas:
				"main"
				"sticky-bar"
				"last-update"
				"characters"
				"thank-you"
				"comments";

			width: 100%;
		}
	}
</style>
