---
import i18next from "i18next";
const language = i18next.language;
---

<aside class="comments">
    <h3>Thanks for visiting us! Let's keep in touch!</h3>
    <script
        src="https://giscus.app/client.js"
        data-repo="zogar1993/degaussing-astro"
        data-repo-id="R_kgDOIaWmTA"
        data-category="General"
        data-category-id="DIC_kwDOIaWmTM4CS02J"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang={language === "es" ? "es" : "en"}
        data-loading="lazy"
        crossorigin="anonymous"
        async
    />
</aside>
<style>
    aside {
        display: flex;
        flex-direction: column;
        gap: 30px;

        background-color: var(--background-color-primary);
        border-radius: var(--border-radius);
        border: var(--border);

        padding: 42px 92px;
    }

    .comments {
        grid-area: comments;
    }

    h3 {
        font-family: var(--font-family-title);
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
    }
</style>
<style is:global>
</style>
