---
import i18next from "i18next";
import { getImage } from "@astrojs/image";
import { t } from "i18next";
import { localizePath } from "astro-i18next";

const { src: logo } = await getImage({ src: "/logo_degaussing_final.svg", width: "613", height: "177", format: "avif" });
const pathname = Astro.url.pathname.split("/").filter((part, i) => !(i === 1 && part === i18next.language)).join("/")
---
<header>
	<div class="logo-row">
		<img src="/logo_degaussing.svg" alt="Degaussing Logo"/>
	</div>
	<nav>
		<a href={localizePath("/")} class={pathname === "/" && "selected"}>{t("menu.home")}</a>
		<a href={localizePath("/chapters")} class={pathname === "/chapters/" && "selected"}>{t("menu.chapters")}</a>
		<a href={localizePath("/characters")} class={pathname === "/characters/" && "selected"}>{t("menu.characters")}</a>
		<a href={localizePath("/about")} class={pathname === "/about/" && "selected"}>{t("menu.about")}</a>
	</nav>
</header>
<style>
	.logo-row {
		display: flex;
		justify-content: center;
		background-color: var(--background-color-header);
		background-image: radial-gradient(circle, var(--background-3) 0%, var(--background-4) 100%);
		padding: 33px 0;
	}

	.selected {
        color: var(--color-title);
	}

	header {
		display: flex;
		flex-direction: column;
	}

	a {
        display: flex;
        padding: 11px 28px;
        font-size: 32px;
        font-family: var(--font-family-title);
        color: var(--color-primary);
	}

	nav {
        display: flex;
        justify-content: center;
        height: 59px;
        background-color: var(--background-color-header);
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.25);
	}

	img {
		width: 613px;
		height: 177px;
	}
</style>
