---
import { getImage } from "@astrojs/image";
import { t } from "i18next";
import { localizePath } from "astro-i18next";

export interface Props {
	title: string;
	body: string;
	href: string;
	type: string;
}

const { href, title, body, type } = Astro.props;
const { src: logo } = await getImage({ src: "/logo_degaussing.png", width: "613", height: "177", format: "avif" });
---

<header>
	<div class="logo-row">
		<img src={logo} alt="Degaussing Logo"/>
	</div>
	<nav>
		<a href={localizePath("/")} class={type === "home" && "selected"}>{t("menu.home")}</a>
		<a href={localizePath("/chapters")} class={type === "chapters" && "selected"}>{t("menu.chapters")}</a>
		<a href={localizePath("/characters")} class={type === "characters" && "selected"}>{t("menu.characters")}</a>
		<a href={localizePath("/about")} class={type === "about" && "selected"}>{t("menu.about")}</a>
	</nav>
</header>
<style>
	.logo-row {
		display: flex;
		justify-content: center;
		background-color: var(--background-color-header);
		background-image: radial-gradient(circle, var(--background-3) 0%, var(--background-4) 100%);
		padding: 33px 0;
	}

	.selected {
        color: var(--color-title);
	}

	header {
		display: flex;
		flex-direction: column;
	}

	a {
        display: flex;
        padding: 11px 28px;
        font-size: 32px;
        font-family: "Germania One", "sans-serif";
        color: var(--color-primary);
	}

	nav {
        display: flex;
        justify-content: center;
        height: 59px;
        background-color: var(--background-color-header);
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.25);
	}
</style>
