---
import i18next, { t } from "i18next"
const language = i18next.language
import { getSocialLinks } from "@server/actions/GetSocialLinks"

const links = await getSocialLinks()
---

<header>
	<h2>{t("comments.heading")}</h2>
	<span>{t("comments.thanks")} {t("comments.heading")}</span>
	<nav aria-label={t("landmarks.navigation-social")}>
		<ul>
			{
				links.map((link) => (
					<li>
						<a href={link.href} title={link.text} target="_blank" rel="noopener">
							<img src={link.icon} alt={link.text} />
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>
<style>
	header {
		display: flex;
		justify-content: space-between;
	}

	h2 {
		position: absolute;
		z-index: -1;
	}

	nav {
		display: flex;
		align-items: center;
	}

	ul {
		display: flex;
		align-items: center;
		gap: 9px;
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 31px;
		height: 31px;
		background-color: rgba(128, 128, 128, 0.44);
		border-radius: 5px;

		transition: var(--transition-hover);
		transition-property: background-color;
	}

	a > img {
		transition: var(--transition-hover);
		transition-property: filter;
	}

	a:hover {
		background-color: var(--background-color-hover);
	}

	a:hover > img {
		filter: saturate(20);
	}

	span {
		font-family: var(--font-family-title);
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 37px;
		color: white;
	}

	@media (max-width: 992px) {
		header {
			flex-direction: column;
			gap: 24px;
		}

		span {
			font-size: 24px;
			line-height: 28px;
		}
	}
</style>
