---
import i18next from "i18next";
import getLastUpdate from "@server/actions/GetLastUpdate"
import { getImage } from "@astrojs/image";
import { t } from "i18next";

const {image, chapter, page} = await getLastUpdate({language: i18next.language})
const { src } = await getImage({ src: image, width: "161", height: "227", format: "avif" });
---


<aside class="last-update">
	<span class="title">{t("strip.last-update")}:</span>
	<span class="important">November 8th</span>
	<span class="normal">{t("strip.chapter")} {chapter} | {t("strip.page")} {page}</span>
	<img src={src} alt="wea"/>
</aside>
<style>
    .title {
        font-family: var(--font-family-title);
        font-size: 30px;
        color: var(--color-title);
    }

    .important {
        font-family: var(--font-family-text);
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        color: var(--color-text-aside);
    }

    .normal {
        font-family: var(--font-family-text);
        font-size: 14px;
        line-height: 23px;
        color: var(--color-text-aside);
    }

    aside {
        background-color: var(--background-color-primary);
        border-radius: var(--border-radius);
        border: var(--border);

        grid-area: last-update;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 381px;
        padding: 23px;
    }

    img {
    	width: 161px;
    	height: 227px;
    	border-radius: var(--border-radius);
    }
</style>
