---
---

<div class="logo-row">
	<img src="/logo_degaussing.svg" alt="Degaussing Logo" />
</div>
<style>
	.logo-row {
		display: flex;
		justify-content: center;
		background-color: var(--background-color-secondary);
		background: var(--background-header);
		padding: 33px 0;
	}

	img {
		width: 613px;
		height: 177px;
	}

	@media (max-width: 992px) {
		img {
			width: 100%;
		}

		.logo-row {
			padding: 0 48px;
		}
	}
</style>
