---
---
<div class="logo-row">
    <img src="/logo_degaussing.svg" alt="Degaussing Logo"/>
</div>
<style>
	.logo-row {
		display: flex;
		justify-content: center;
		background-color: var(--background-color-header);
		background-image: radial-gradient(circle, var(--background-3) 0%, var(--background-4) 100%);
		padding: 33px 0;
	}

	img {
		width: 613px;
		height: 177px;
	}
</style>