---

---

<nav class="sticky-bar">
	<div class="navigation-arrows">
		<div>&lt;&lt;</div>
		<div>&lt;</div>
	</div>
	<div>Page 5 | Chapter 2</div>
	<div class="navigation-arrows">
		<div>&gt;</div>
		<div>&gt;&gt;</div>
	</div>
</nav>
<style>
    .sticky-bar {
        box-sizing: border-box;
        position: sticky;

        grid-area: sticky-bar;
        display: flex;
        align-items: center;

        width: 656px;
        height: 59px;

        background: #1D1D1B;
        border: 1px solid #000000;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        padding: 0 72px;

        font-family: 'Germania One', "sans-serif";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;

        color: #EFEFEF;
        bottom: 10px;

        justify-self: center;

        gap: 47px;
    }

    .navigation-arrows {
        display: flex;
        gap: 35px;
    }
</style>
