---
import getLocalizedLinkToComicStrip from "@server/actions/GetLocalizedLinkToComicStrip"
import getStripNameParts from "@server/actions/GetStripNameParts"
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import type { RelatedPages } from "@server/Utils"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

export interface Props {
	info: RelatedPages
}
const { info: { current, backward, forward } } = Astro.props
---
<nav class="sticky-bar" aria-label={t("landmarks.navigation-comic")}>
	<div class="navigation-arrows">
		{
			backward ?
				<a
					class="link"
					href={getLocalizedLinkToComicStrip({ ...backward.all, language })}
					aria-label={t("secondary-nav.first")}
					title={t("secondary-nav.first")}
				>
					&lt;&lt;
				</a>
				<a
					class="link"
					href={getLocalizedLinkToComicStrip({ ...backward.one, language })}
					aria-label={t("secondary-nav.previous")}
					title={t("secondary-nav.previous")}
				>
					&lt;
				</a>
				:
				<span class="link disabled" aria-hidden="true">&lt;&lt;</span>
				<span class="link disabled" aria-hidden="true">&lt;</span>

		}
	</div>
	<span class="text hide-on-mobile">
			{getStripNameParts({ ...current, language }).join(" | ")}
	</span>
	<div class="navigation-arrows">
		{
			forward ?
				<a
					class="link"
					href={getLocalizedLinkToComicStrip({ ...forward.one, language })}
					aria-label={t("secondary-nav.next")}
					title={t("secondary-nav.next")}
				>
					&gt;
				</a>
				<a
					class="link"
					href={getLocalizedLinkToComicStrip({ ...forward.all, language })}
					aria-label={t("secondary-nav.last")}
					title={t("secondary-nav.last")}
				>
					&gt;&gt;
				</a>
				:
				<span class="link disabled" aria-hidden="true">&gt;</span>
				<span class="link disabled" aria-hidden="true">&gt;&gt;</span>
		}
	</div>
</nav>
<style>
    @media (72em < width) {
        .sticky-bar {
            position: sticky;
            z-index: 50;
            width: calc(var(--strip_width) - var(--sticky-navbar--desktop_margin-inline) * 2);
        }

        .sticky-bar:global(.docked) {
            width: var(--sticky-navbar--desktop_width);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
    }

    @media (width <= 36em) {
        .hide-on-mobile {
            display: none;
        }
    }

    .sticky-bar {
        grid-column: full-width;
        grid-row: sticky-nav-bar;

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-inline: var(--sticky-navbar--desktop_margin-inline);
        justify-self: stretch;
        height: var(--sticky-navbar_height);

        background-color: var(--navigation_background-color);
        border: var(--component_border);
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        padding: 0 4rem;

        font-family: var(--heading_font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;

        color: var(--sticky-navbar__text_color);
        bottom: .75rem;

        transition: width 0.5s, box-shadow 0.5s;
    }

    .navigation-arrows {
        display: flex;
        gap: 1rem;
    }

    .text {
        font-size: 1.75rem;
    }

    .link {
        display: flex;
        justify-content: center;

        color: var(--link_color);
        font-size: 2.5rem;
        min-width: 3rem;

        transition: var(--link--hover_transition-timing);
        transition-property: color;
    }

    a.link:hover {
        color: var(--link--hover_color);
    }

    .link.disabled {
        pointer-events: none;
        color: var(--sticky-navbar__link--disabled_color);
    }

    @media (max-width: 72em) {
        .sticky-bar {
            position: static;
            --_min_link_size_offset: 0.5rem;
            --_border_width_offset: calc(var(--section_border-width) - var(--component_border-width));
            --_sticky-navbar--padding-inline: calc(var(--section_padding) + var(--_border_width_offset) - var(--_min_link_size_offset));
            padding: var(--_sticky-navbar--padding-inline) 1rem;
            margin-inline: 0;
            box-shadow: none;
        }

        .navigation-arrows {
            gap: .5rem;
        }

        .text {
            font-size: 1.5rem;
        }

        .link {
            color: var(--link_color);
            font-size: 2rem;
        }
    }
</style>
