---
import { t } from "i18next"
import { Image } from "astro:assets"
import Heading from "@web/components/page-primary/aside/Heading.astro"

export interface Props {
	info: { characters: Array<{ name: string, image: string }> }
}
const { info } = Astro.props
const characters = info.characters.slice(0, 3)
---
<section aria-label={t("landmarks.characters")}>
	<Heading>{t("strip.characters")}</Heading>
	<div class="characters">
		{
			characters.map((character) => (
				<div class="character">
					<Image src={character.image} alt="" width={112} height={112} />
					<span>{character.name}</span>
				</div>
			))
		}
		{
			[...Array(3 - characters.length)].map(() => (
				<div class="character no-one">
					<Image src="/images/shadowed.webp" alt="" width={112} height={112} />
				</div>
			))
		}
	</div>
</section>
<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .character {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        color: var(--color-text-aside);
    }

    img {
        width: 7rem;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    span {
        font-size: 1rem;
    }

    .characters {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 1;
    }

    @media (max-width: 60em) {
        .characters {
            flex-direction: row;
        }

        img {
            width: 4.5rem;
        }

        .no-one {
            display: none;
        }
    }
</style>
