---
import { Image } from "astro:assets"
import Heading from "@web/components/page-primary/aside/Heading.astro"
import { getLangFromUrl, useTranslations } from '@server/i18n/utils';

const language = getLangFromUrl(Astro.url);
const t = useTranslations(language);

export interface Props {
	info: { characters: Array<{ name: string, image: string }> }
}
const { info } = Astro.props
const characters = info.characters.slice(0, 3)
---
<section aria-label={t("landmarks.characters")}>
	<Heading>{t("landmarks.characters")}</Heading>
	<ul>
		{
			characters.map((character) => (
				<li>
					<Image src={character.image} alt="" width={112} height={112} quality="max" />
					<span>{character.name}</span>
				</li>
			))
		}
		{
			[...Array(3 - characters.length)].map(() => (
				<li class="no-one">
					<Image src="/images/shadowed.webp" alt="" width={112} height={112} />
				</li>
			))
		}
	</ul>
</section>
<style>
    section {
    		grid-area: characters;

    		display: flex;
    		flex-direction: column;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        color: var(--aside__text_color);
    }

    img {
        width: 7rem;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    span {
        font-size: 1rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 1;
    }

    @media (max-width: 72em) {
        ul {
            flex-direction: row;
        }

        img {
            width: 4.5rem;
        }

        .no-one {
            display: none;
        }
    }
</style>
