<h2>
	<slot />
</h2>
<style>
    h2 {
        font-family: var(--heading_font-family);
        font-size: 1.75rem;
        color: var(--heading_color);
    }

    @media (max-width: 72em) {
        h2 {
            font-size: 1.5rem;
        }
    }
</style>
