---
import i18next, { t } from "i18next"
import { getImage } from "@astrojs/image"
import { localizePath } from "astro-i18next"
import Aside from "@web/components/aside/Aside.astro"
import Heading from "@web/components/aside/Heading.astro"
import getCharactersInfo from "@server/actions/GetCharactersInfo"

export interface Props { info: { characters: Array<{name: string, image: string}>} }
const { info } = Astro.props
const characters = info.characters.slice(0, 3)

for (const character of characters) {
	const { src } = await getImage({
		src: character.image,
		width: "111",
		height: "111",
		format: "avif"
	})
	character.portrait = src
}
---
<Aside grid-area="characters" aria-label={t("landmarks.characters")}>
	<div class="container">
		<Heading>{t("strip.characters")}</Heading>
		<div class="characters">
			{
				characters.map((character) => (
					<div class="character">
						<img src={character.image} alt="" />
						<span>{character.name}</span>
					</div>
				))
			}
			{
				[...Array(3 - characters.length)].map(() => (
					<div class="character">
						<img src="/images/shadowed.png" alt=""/>
						<div class="no-name"></div>
					</div>
				))
			}
		</div>
	</div>
</Aside>
<style>
	.character {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 7px;
		color: var(--color-text-aside);
	}

	img {
		width: 111px;
		aspect-ratio: 1/1;
		border-radius: 50%;
	}

	span {
		font-family: var(--font-family-text);
		font-size: 16px;
		line-height: 23px;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;

		gap: 20px;
	}

	.characters {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		flex-grow: 1;
	}

	.no-name {
		height: 23px;
	}

	@media (max-width: 992px) {
		.characters {
			flex-direction: row;
			justify-content: space-evenly;
		}

		img {
			width: 71px;
			height: 71px;
		}
	}
</style>
