---
import { t } from "i18next";
import Title from "@web/components/aside/Title.astro"
---
<aside class="characters">
	<Title>{t("strip.characters")}</Title>
</aside>
<style>
    aside {
        background-color: var(--background-color-primary);
        border-radius: var(--border-radius);
        border: var(--border);
    }

    .characters {
        grid-area: characters;
        height: 565px;
    }
</style>
