---
import { t } from "i18next";
import Aside from "@web/components/aside/Aside.astro"
import Title from "@web/components/aside/Title.astro"
---
<Aside grid-area="characters">
	<Title>{t("strip.characters")}</Title>
</Aside>
<style>
</style>
