---
import i18next, { t } from "i18next"
import { getImage } from "@astrojs/image"
import getLastUpdate from "@server/actions/GetLastUpdate"
import Aside from "@web/components/aside/Aside.astro"
import Heading from "@web/components/aside/Heading.astro"

const { image, chapter, date } = await getLastUpdate({
	language: i18next.language
})
const { src } = await getImage({
	src: image,
	width: "161",
	height: "227",
	format: "avif"
})
---

<Aside grid-area="last-update" aria-label={t("landmarks.last-update")}>
	<div class="container">
		<div class="text-container">
			<Heading>{t("strip.last-update")}</Heading>
			<span class="important">{date}</span>
			<span class="normal">
				{t("strip.chapter")} {chapter}
			</span>
		</div>
		<img src={src} alt={`${t("strip.chapter")} ${chapter}`} />
	</div>
</Aside>
<style>
	.important {
		font-family: var(--font-family-text);
		font-weight: 600;
		font-size: 16px;
		line-height: 23px;
		color: var(--color-text-aside);
	}

	.normal {
		font-family: var(--font-family-text);
		font-size: 14px;
		line-height: 23px;
		color: var(--color-text-aside);
	}

	img {
		width: 100%;
		aspect-ratio: var(--strip-aspect-ratio);
		border-radius: var(--border-radius);
	}

	.text-container {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: 24px;
		flex-grow: 1;
	}

	@media (max-width: 992px) {
		img {
			width: 97px;
			height: 137px;
		}

		.container {
			flex-direction: row;
			justify-content: space-between;
		}

		.text-container {
			gap: 16px
		}
	}
</style>
