---
import i18next, { t } from "i18next";
import { getImage } from "@astrojs/image";
import getLastUpdate from "@server/actions/GetLastUpdate"
import Aside from "@web/components/aside/Aside.astro"
import Title from "@web/components/aside/Title.astro"

const {image, chapter, page} = await getLastUpdate({language: i18next.language})
const { src } = await getImage({ src: image, width: "161", height: "227", format: "avif" });
---
<Aside grid-area="last-update">
	<Title>{t("strip.last-update")}:</Title>
	<span class="important">November 8th</span>
	<span class="normal">{t("strip.chapter")} {chapter} | {t("strip.page")} {page}</span>
	<img src={src} alt="wea"/>
</Aside>
<style>
    .important {
        font-family: var(--font-family-text);
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        color: var(--color-text-aside);
    }

    .normal {
        font-family: var(--font-family-text);
        font-size: 14px;
        line-height: 23px;
        color: var(--color-text-aside);
    }

    img {
    	width: 161px;
    	height: 227px;
    	border-radius: var(--border-radius);
    }
</style>
