---
import { t } from "i18next"
import { getContributionLinks } from "@server/actions/GetContributionLinks"

const links = await getContributionLinks()
---

<section aria-label={t("landmarks.donations")}>
	<h2 class="semantic-only">{t("landmarks.donations")}</h2>
	<span class="heading">{t("strip.thank-you")}</span>
	<ul>
		{
			links.map((link) => (
				<li>
					<a href={link.href} target="_blank" rel="noopener">
						<img src={link.icon} alt="" />
						<span class="name">{link.text}</span>
					</a>
				</li>
			))
		}
	</ul>
</section>
<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1.25rem;
	}

	.heading {
		font-family: var(--font-family-title);
		font-size: 1.875rem;;
		color: var(--color-title);
	}

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: .5rem;
	}

	a {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1rem;
		justify-items: center;
		align-items: center;
		padding: .5rem;
		height: 4.5rem;
		width: 4.5rem;

		background-color: var(--color-primary);
		border: 1px solid var(--color-button-border);
		border-radius: var(--border-radius);

		font-family: var(--font-family-text);
		color: var(--color-text-aside);
		font-size: .875rem;

		transition: var(--transition-hover);
		transition-property: background-color;
	}

	a:hover {
		background-color: var(--color-hover);
	}

	@media (max-width: 60em) {
		:global(.aside-thank-you) {
			gap: .25rem;
		}

		ul {
			gap: .5rem;
			padding: 1rem;;
		}

		a {
			height: 4rem;
			width: auto;
			grid-template-columns: 3rem 1fr;
			grid-template-rows: none;
			padding: 0 1rem;
		}
	}
</style>
