---
import { t } from "i18next";
import Aside from "@web/components/aside/Aside.astro"
import Title from "@web/components/aside/Title.astro"
---
<Aside grid-area="thank-you">
	<Title>{t("strip.thank-you")}</Title>
	<div class="buttons">
		<a href="" target="_blank" rel="noopener">
			<img src="/social/patreon.svg" alt=""/>
			Patreon
		</a>
		<a href="https://ko-fi.com/eternallog?action=setcovercompletion" target="_blank" rel="noopener">
			<img src="/social/ko-fi.svg" alt=""/>
			Ko-Fi
		</a>
	</div>
</Aside>
<style>
	.buttons {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	a {
		display: grid;
		grid-template-columns: 58px 1fr;
		align-items: center;
		padding-left: 17px;

		background: #F0BE5F;
		border: 1px solid #432918;
		border-radius: 5px;
		height: 62px;

        font-family: var(--font-family-text);
        color: var(--color-text-aside);
	}
</style>
