---
import { t } from "i18next"
import Aside from "@web/components/aside/Aside.astro"
import Heading from "@web/components/aside/Heading.astro"
import { getContributionLinks } from "@server/actions/GetContributionLinks"

const links = await getContributionLinks()
---

<Aside grid-area="thank-you" aria-label={t("landmarks.donations")}>
	<div class="container">
		<Heading>{t("strip.thank-you")}</Heading>
		<ul>
			{
				links.map((link) => (
					<li>
						<a href={link.href} target="_blank" rel="noopener">
							<img src={link.icon} alt="" />
							<span>{link.text}</span>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</Aside>
<style>
	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 8px;
	}

	a {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 14px;
		justify-items: center;
		align-items: center;
		padding: 8px;
		height: 72px;
		width: 72px;

		background-color: #f0be5f;
		border: 1px solid #432918;
		border-radius: 5px;

		font-family: var(--font-family-text);
		color: var(--color-text-aside);
		font-size: 14px;

		transition: var(--transition-hover);
		transition-property: background-color;
	}

	a:hover {
		background-color: var(--color-hover);
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
		gap: 8px;
	}

	@media (max-width: 992px) {
		ul {
			gap: 8px;
			padding: 14px;
		}

		a {
			grid-template-columns: 46px 1fr;
			grid-template-rows: none;
			padding: 0 16px;
			height: 62px;
			width: auto;
		}

		img {
			justify-self: center;
		}

		span {
			justify-self: center;
		}
	}
</style>
