---
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import SocialLinks from "@web/components/page-primary/comments/SocialLinks.astro"
import type { PageInfo } from "@transport/PageInfo"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

export interface Props {
	info: PageInfo
}

const { info } = Astro.props
---
<section aria-label={t("landmarks.comments")}>
	<div class="heading-container">
		<h2>{t("landmarks.comments")}</h2>
		{!info.author_comment && <SocialLinks/>}
	</div>
	<div id="reader-comments__iframe-container"></div>
</section>
<style>
    .heading-container {
        display: flex;
        justify-content: space-between;
    }

    #reader-comments__iframe-container > :global(.giscus) {
        display: flex;
    }
</style>
