---
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import SocialLinks from "@web/components/page-primary/comments/SocialLinks.astro"
import type { PageInfo } from "@server/GetPageInfo"
const protocol = import.meta.env.PROTOCOL!
const domain = import.meta.env.DOMAIN!

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

export interface Props {
	info: PageInfo
}

const { info } = Astro.props
---
<section id="reader-comments" aria-label={t("landmarks.comments")}>
	<div class="heading-container">
		<h2>{t("landmarks.comments")}</h2>
		{!info.author_comment && <SocialLinks/>}
	</div>
	<div id="reader-comments__iframe-container">
	</div>
</section>
<style>
    .heading-container {
        display: flex;
        justify-content: space-between;
    }

    /* adds padding to avoid browser rounding inconsistencies and leaving room for focus outlines */
    #comments-iframe-container {
        --_iframe_padding: 1px;
        width: calc(100% + var(--_iframe_padding) * 2);
        margin-left: calc(var(--_iframe_padding) * -1);
    }
</style>
