---
import i18next, {changeLanguage, t} from "i18next";
import SecondaryLayout from "@web/layouts/SecondaryLayout.astro";
import Section from "@web/components/page-secondary/SecondaryPageSection.astro";
import getLocalizedLinkToComicStrip from "@server/actions/GetLocalizedLinkToComicStrip";
import getAllPagesOfChapter from "@server/actions/GetAllPagesOfChapter";

changeLanguage("es");

export async function getStaticPaths() {
    return await getAllPagesOfChapter({language: i18next.language});
}
const {chapter, pages} = Astro.props;
---
<SecondaryLayout>
    <Section>
        <ol>
            {
                pages.map(({image, number}) => (
                        <li>
                            <a href={getLocalizedLinkToComicStrip({chapter, page: number})}>
                                <img src={image} alt=""/>
                                <span>{number === 0 ? t("chapters.cover") : `${t("chapters.page")} ${number}`}</span>
                            </a>
                        </li>
                ))
            }
        </ol>
    </Section>
</SecondaryLayout>
<style>
    a {
        display: flex;
        flex-direction: column;

        align-items: center;
        gap: 0.5rem;

        padding: 1rem;

        border-radius: var(--border-radius);
        transition: var(--transition-hover);
        transition-property: background-color;
    }

    a:hover {
        background-color: #ECECEC;
    }

    ol {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
    }

    img {
        width: 239px;
        aspect-ratio: var(--strip-aspect-ratio);

        border-radius: var(--border-radius);
    }

    span {
        color: var(--color-muted);
        font-size: .875rem;
        user-select: none;
    }

    @media (max-width: 60em) {
        img {
            width: 100%;
        }

        ol {
            grid-template-columns: 1fr;
            gap: 2.5rem;
        }
    }
</style>
