---
import i18next, { changeLanguage, t } from "i18next";
import { localizePath } from "astro-i18next";
import { Image } from "astro:assets";
import SecondaryLayout from "@web/layouts/SecondaryLayout.astro";
import Section from "@web/components/page-secondary/SecondaryPageSection.astro";
import SectionHeading from "@web/components/general/SectionHeading.astro";
import getChaptersInfo from "@server/actions/GetChaptersInfo";

changeLanguage("es");

const chapters = await getChaptersInfo({ language: i18next.language });
---
<SecondaryLayout title={t("menu.chapters")}>
	<Section>
		<SectionHeading>{t("menu.chapters")}</SectionHeading>
		<ol>
			{
				chapters.map((chapter, i) => (
					<li>
						<a href={localizePath(`/chapters/${chapter.number}/pages`)}>
							<Image src={chapter.cover} alt="" width={234} height={331} />
							<h4>{t("chapters.chapter")} {i + 1}</h4>
							<span>{chapter.pagesAmount} {t("chapters.pages")}</span>
						</a>
					</li>
				))
			}
		</ol>
	</Section>
</SecondaryLayout>
<style>
    a {
        position: relative;
        display: flex;
        flex-direction: column;
        isolation: isolate;
    }

    a:before {
        content: "";
        position: absolute;
        inset: -16px;
        border-radius: var(--border-radius);
        transition: var(--transition-hover);
        transition-property: background-color;
        z-index: -1;
    }

    a:hover:before {
        background-color: #ECECEC;
    }

    ol {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        margin-inline: 8px;
    }

    img {
        max-width: 100%;
        aspect-ratio: var(--strip-aspect-ratio);

        margin-bottom: 1.25rem;

        border-radius: var(--border-radius);
    }

    h4 {
        color: var(--heading_color);
        font-family: var(--font-family-title);
        font-size: 2rem;

        margin-bottom: .5rem;
        user-select: none;
    }

    span {
        color: var(--color-muted);
        font-size: .875rem;
        user-select: none;
    }

    @media (max-width: 72em) {
        img {
            width: 100%;
        }

        ol {
            grid-template-columns: 1fr;
            gap: 2.5rem;
        }
    }
</style>
