---
import i18next, { changeLanguage, t } from "i18next";
import { localizePath } from "astro-i18next";
import { getImage } from "@astrojs/image";
import MainLayout from "@web/layouts/MainLayout.astro";
import getChaptersInfo from "@server/actions/GetChaptersInfo";
import getLocalizedLinkToComicStrip from "@server/actions/GetLocalizedLinkToComicStrip";

changeLanguage("en");

const chapters = await getChaptersInfo({ language: i18next.language });
for (const chapter of chapters) {
    const { src } = await getImage({
        src: chapter.cover,
        width: "239",
        height: "339",
        format: "webp"
    });
    chapter.cover = src;
}
---
<MainLayout>
	<main id="main" tabindex="-1">
		{
			chapters.map((chapter, i) => (
				<a href={getLocalizedLinkToComicStrip({chapter: chapter.number, page: 0})}>
					<img src={chapter.cover} alt={`${t("chapters.chapter")} ${i + 1}`} />
					<h4>{t("chapters.chapter")} {i + 1}</h4>
					<span>{chapter.pagesAmount} {t("chapters.pages")}</span>
				</a>
			))
		}
	</main>
</MainLayout>
<style>
	a {
		padding: 16px;
		border-radius: var(--border-radius);

		transition: var(--transition-hover);
		transition-property: background-color;
	}

	a:hover {
		background-color: #ECECEC;
	}

	main {
		display: grid;
		grid-template-columns: auto auto auto;
		justify-content: space-between;

		width: 862px;

		background-color: var(--background-color-primary);
		border-radius: var(--border-radius);
		border: var(--border-wide);

		padding: 16px;
	}

	img {
		width: 239px;
		aspect-ratio: var(--strip-aspect-ratio);

		margin-bottom: 20px;

		border-radius: var(--border-radius);
	}

	h4 {
		color: var(--color-title);
		font-family: var(--font-family-title);
		font-size: 24px;

		margin-bottom: 10px;
		user-select: none;
	}

	span {
		color: var(--color-muted);
		font-family: var(--font-family-text);
		font-size: 14px;
		user-select: none;
	}

	@media (max-width: 60em) {
		main {
			grid-template-columns: 1fr;
			width: 100%;

			padding: 16px 16px 42px 16px;
			gap: 42px;
		}

		img {
			width: 100%;
		}
	}
</style>
