---
import i18next, { changeLanguage, t } from "i18next";
import { localizePath } from "astro-i18next";
import { Image } from "astro:assets";
import SecondaryLayout from "@web/layouts/SecondaryLayout.astro";
import Section from "@web/components/page-secondary/SecondaryPageSection.astro";
import SectionHeading from "@web/components/general/SectionHeading.astro";
import getChaptersInfo from "@server/actions/GetChaptersInfo";

changeLanguage("es");

const chapters = await getChaptersInfo({ language: i18next.language });
---
<SecondaryLayout title={t("menu.chapters")}>
	<Section>
		<SectionHeading>{t("menu.chapters")}</SectionHeading>
		<ol>
			{
				chapters.map((chapter, i) => (
					<li>
						<a href={localizePath(`/chapters/${chapter.number}/pages`)}>
							<Image src={chapter.cover} alt="" width={282} height={399} />
							<h4>{t("chapters.chapter")} {i + 1}</h4>
							<span>{chapter.pagesAmount} {t("chapters.pages")}</span>
						</a>
					</li>
				))
			}
		</ol>
	</Section>
</SecondaryLayout>
<style>
    a {
        position: relative;
        display: flex;
        flex-direction: column;
        isolation: isolate;
        transition: transform 200ms;
    }

		ol:has(a:hover) a:not(:hover) {
    	transform: scale(0.95);
		}

    a:hover {
    	transform: scale(1.05);
    }

    ol {
        display: grid;
				grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        gap: 1.5rem;
        margin-bottom: 0.5rem;
    }

    img {
        width: 100%;
        height: auto;
        aspect-ratio: var(--strip-aspect-ratio);

        margin-bottom: 1.25rem;

        border-radius: var(--border-radius);
    }

    h4 {
        color: var(--heading_color);
        font-family: var(--font-family-title);
        font-size: 2rem;

        margin-bottom: .5rem;
        user-select: none;
    }

    span {
        color: var(--color-muted);
        font-size: .875rem;
        user-select: none;
    }
</style>
