---
import i18next, { changeLanguage, t } from "i18next";
import { localizePath } from "astro-i18next";
import MainLayout from "@web/layouts/MainLayout.astro";
import getChaptersInfo from "@server/actions/GetChaptersInfo";

changeLanguage("es");

const chapters = await getChaptersInfo({ language: i18next.language });
---
<MainLayout>
	<main id="main" tabindex="-1">
		<ol>
			{
				chapters.map((chapter, i) => (
					<li>
						<a href={localizePath(`/chapters/${chapter.number}/pages`)}>
							<img src={chapter.cover} alt="" />
							<h4>{t("chapters.chapter")} {i + 1}</h4>
							<span>{chapter.pagesAmount} {t("chapters.pages")}</span>
						</a>
					</li>
				))
			}
		</ol>
	</main>
</MainLayout>
<style>
	a {
		display: flex;
		flex-direction: column;

		padding: 1rem;

		border-radius: var(--border-radius);
		transition: var(--transition-hover);
		transition-property: background-color;
	}

	a:hover {
		background-color: #ECECEC;
	}

	main {

		width: var(--main-desktop-width);

		background-color: var(--background-color-primary);
		border-radius: var(--border-radius);
		border: var(--border-wide);

		padding: 1rem;
	}

	ol {
		display: grid;
		grid-template-columns: repeat(3, auto);
		justify-content: space-between;
	}

	img {
		width: 239px;
		aspect-ratio: var(--strip-aspect-ratio);

		margin-bottom: 1.25rem;

		border-radius: var(--border-radius);
	}

	h4 {
		color: var(--color-title);
		font-family: var(--font-family-title);
		font-size: 2rem;

		margin-bottom: .5rem;
		user-select: none;
	}

	span {
		color: var(--color-muted);
		font-size: .875rem;
		user-select: none;
	}

	@media (max-width: 60em) {
		main {
			width: 100%;
			padding: 1rem 1rem 2.5rem 1rem;
		}

		img {
			width: 100%;
		}

		ol {
			grid-template-columns: 1fr;
			gap: 2.5rem;
		}
	}
</style>
