<section>
	<slot />
</section>
<style>
    section {
        background-color: white;
        padding: 1.5rem;
        border-radius: var(--component_border-radius);
        border: var(--component_border);
    }
</style>
