<main>
	<slot />
</main>
<style>
    main {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        width: var(--main-desktop-width);
        background-color: var(--decoration_background-color);

        border-radius: var(--border-radius);

        padding: 1rem;
    }

    @media (max-width: 72em) {
        main {
            width: 100%;
            padding: 0;
            background-color: transparent;
        }
    }
</style>
