---
import i18next, { changeLanguage, t } from "i18next"
import SecondaryLayout from "@web/layouts/SecondaryLayout.astro"
import Section from "@web/components/page-secondary/SecondaryPageSection.astro"
import PeopleList from "@web/components/PeopleList.astro"
import getCharactersInfo from "@server/actions/GetCharactersInfo"

changeLanguage("es")

const characters = await getCharactersInfo({ language: i18next.language })
---
<SecondaryLayout title={t("menu.characters")}>
	<Section>
		<PeopleList people={characters} />
	</Section>
</SecondaryLayout>
