---
import MainLayout from '@web/layouts/MainLayout.astro'
import getCharactersInfo from '@server/actions/getCharactersInfo'

const characters = await getCharactersInfo()
---

<MainLayout title="Degaussing Comic" >
    {characters.map((character) =>
        <article>
            <img src={character.portrait} alt="wea" />
            <h4>{character.name}</h4>
            <p>{character.description}</p>
        </article>
    )}
</MainLayout>
<style>
    img {
        width: 239px;
        height: 338px;
    }
</style>