---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"
import type { RichTextDocument } from "../../../transport/About"

export type Props = {
	text: RichTextDocument
}
const { text } = Astro.props as Props

const synopsisHtml = documentToHtmlString(text)
---
<div class="rich-text">
	<Fragment set:html={synopsisHtml} />
</div>
<style>
    .rich-text :global(p) {
        font-size: var(--rich-text_font-size, 1.125rem);
        line-height: 1.5em;
    }

    .rich-text :global(p):not(:last-child) {
        margin-bottom: 0.75rem;
    }

    .rich-text :global(i) {
        font-style: italic;
    }

    .rich-text :global(b) {
        font-weight: bold;
    }

    @media (max-width: 72em) {
        .rich-text :global(p) {
            font-size: 1rem;
        }
    }
</style>