---
import {getChapters} from "../server/GetChapters"
import {getImage, getPreviousAndFirst} from "../server/Utils"

const locale = "en-US"
const chapters = await getChapters({locale})

const chapter = chapters.length
const page = chapters[chapters.length - 1].pages.length

const image = getImage({chapters, chapter, page})
const backward = getPreviousAndFirst({chapters, chapter, page})

import MainLayout from '../layouts/MainLayout.astro'
import LastUpdate from '../components/LastUpdate.astro'
import StickyNavBar from '../components/StickyNavBar.astro'
import Characters from '../components/Characters.astro'
import ThankYou from '../components/ThankYou.astro'
import Comments from '../components/Comments.astro'
---

<MainLayout title="Degaussing Comic">
    <div class="grid">
        <main>
            <img class="comic-strip" src={image} alt="wea">
        </main>
        <LastUpdate/>
        <Characters/>
        <ThankYou/>
        <StickyNavBar/>
        <Comments/>
    </div>
</MainLayout>
<style>
    main {
        grid-area: strip;
    }

    .grid {
        display: grid;
        grid-template-columns: 862px 208px;
        gap: 18px;

        padding: 30px 0;

        grid-template-areas:
            "strip last-update"
            "strip characters"
            "strip thank-you"
            "sticky-bar nothing"
            "comments comments";
    }

    @media (max-width: 768px) {
        .grid {
            grid-template-columns: 1fr;
            grid-template-areas:
                "strip"
                "last-update"
                "characters"
                "thank-you"
                "comments";
        }
    }

    .comic-strip {
        width: 862px;
        height: 1230px;
    }
</style>
