---

---


<aside class="last-update">
	<span class="title">Last update:</span>
	<span class="important">November 8th</span>
	<span class="normal">Chapter 2 | Page 5</span>
	<img class="last-cover" src="demo-portada.png" alt="wea">
</aside>
<style>
    .last-cover {
        width: 161px;
        height: 227px;
    }

    .last-update {
        grid-area: last-update;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 381px;
        padding: 23px;
    }

    .title {
        font-family: 'Germania One', sans-serif;
        font-size: 30px;
    }

    .important {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
    }

    .normal {
        font-family: 'Inter';
        font-size: 14px;
        line-height: 23px;
    }

    aside {
        background-color: #D9D9D9;
        border-radius: 5px;
    }
</style>
