---
import getMenuItems, { isMenuLink } from "@server/actions/GetMenuItems"
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import LanguageSelectorDesktop from "@web/components/header/LanguageSelectorDesktop.astro"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

const items = getMenuItems({ path: Astro.url.pathname, language })
---
<nav aria-label={t("landmarks.navigation-page")}>
	<ul>
		{items.map(item =>
			<li>
				{isMenuLink(item) ?
					<a href={item.href} class={item.selected ? "selected" : ""}>
						{item.text}
					</a> :
					<LanguageSelectorDesktop dropdown={item}/>
				}
			</li>
		)}
	</ul>
</nav>
<style>
    nav {
        display: flex;
        z-index: 1;
    }

    ul {
        display: flex;
        gap: 2rem;
    }

    li {
        display: flex;
        align-items: center;
    }

    a {
        line-height: 1;
        padding: 0.5rem 0.75rem;
        font-size: 2rem;
        font-family: var(--heading_font-family);
        color: var(--link_color);
        border-radius: var(--component_border-radius);
        height: var(--link_height);
    }

    a:hover {
        color: var(--link_color);
        background-color: var(--header__link--hover_background-color);
    }

    .selected {
        color: var(--link--hover_color);
    }

    @media (width <= 72em) {
        nav {
            display: none;
        }
    }
</style>