---
import getMenuItems from "@server/actions/GetMenuItems"
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

const items = getMenuItems({ path: Astro.url.pathname, language })
---
<nav aria-label={t("landmarks.navigation-page")}>
	<ul>
		{items.map(item =>
			<li>
				<a href={item.href} class={item.selected ? "selected" : ""}>
					{item.text}
				</a>
			</li>
		)}
	</ul>
</nav>
<style>
    nav {
        display: flex;
    }

    ul {
        display: flex;
        gap: 2rem;
    }

    li {
        display: flex;
        align-items: center;
    }

    a {
        display: flex;
        padding: 0.5rem 0.75rem;
        font-size: 2rem;
        font-family: var(--heading_font-family);
        color: var(--link_color);
        border-radius: var(--component_border-radius);
        line-height: 1;

        transition: var(--link--hover_transition-timing);
        transition-property: color, background-color;
    }

    a:hover {
        color: var(--link_color);
        background-color: var(--header__link--hover_background-color);
    }

    .selected {
        color: var(--link--hover_color);
    }

    @media (max-width: 72em) {
        nav {
            display: none;
        }
    }
</style>