---
import i18next, { t } from "i18next"
import { localizePath } from "astro-i18next"
import getMenuItems from "@server/actions/GetMenuItems"
const items = getMenuItems({path: Astro.url.pathname, language: i18next.language, localizePath, t})
---
<nav>
    <ul>
        {items.map(item =>
            <li>
                <a
                    href={item.href}
                    class={item.selected ? "selected" : ""}
                    title={item.desktop === "icon" ? item.text : undefined}
                >
                    {item.desktop === "text" && item.text}
                    {item.desktop === "icon" && <img src={item.icon} alt={item.text}/>}
                </a>
            </li>
        )}
    </ul>
</nav>
<style>
    nav {
        display: flex;
    }

    ul {
        display: flex;
    }

    li {
        display: flex;
        align-items: center;
    }

    a {
        display: flex;
        padding: 11px 28px;
        font-size: 32px;
        font-family: var(--font-family-title);
        color: var(--color-primary);
    }

    img {
        width: 29px;
        height: 29px;
    }

    .selected {
        color: var(--color-title);
    }

    @media (max-width: 992px) {
        nav {
            display: none;
        }
    }
</style>