---
import { t } from "i18next"
import getMenuItems from "@server/actions/GetMenuItems"
const items = getMenuItems({ path: Astro.url.pathname })
---
<nav aria-label={t("landmarks.navigation-page")}>
	<ul>
		{items.map(item =>
			<li>
				<a
					href={item.href}
					class={item.selected ? "selected" : ""}
					title={item.desktop === "icon" ? item.text : undefined}
				>
					{item.desktop === "text" && item.text}
					{item.desktop === "icon" && <img src={item.icon} alt={item.text} />}
				</a>
			</li>
		)}
	</ul>
</nav>
<style>
    nav {
        display: flex;
    }

    ul {
        display: flex;
        gap: 2rem;
    }

    li {
        display: flex;
        align-items: center;
    }

    a {
        display: flex;
        padding: 0.5rem 0.75rem;
        font-size: 2rem;
        font-family: var(--font-family-title);
        color: var(--color-primary);
        border-radius: var(--border-radius);

        transition: var(--transition-hover);
        transition-property: color, background-color;
    }

    a > img {
        transition: var(--transition-hover);
        transition-property: filter;
    }

    a:hover {
        color: var(--color-selected);
        background-color: var(--background-color-hover);
    }

    a:hover > img {
        filter: var(--filter-image-hover);
    }

    img {
        width: 1.75rem;
        height: 1.75rem;
    }

    .selected {
        color: var(--color-hover);
    }

    @media (max-width: 60em) {
        nav {
            display: none;
        }
    }
</style>