---
import Logo from "@web/components/header/Logo.astro"
import SkipToMainContent from "@web/components/header/SkipToMainContent.astro"
import DesktopNavBar from "@web/components/header/DesktopNavBar.astro"
import MobileNavHamburger from "@web/components/header/MobileNavHamburger.astro"
import MobileHeaderText from "@web/components/header/MobileHeaderText.astro"

export interface Props {
	title: string
}

const { title } = Astro.props
---
<header>
	<SkipToMainContent />
	<MobileNavHamburger />
	<div class="row-logo">
		<Logo />
	</div>
	<div class="row-menu">
		<DesktopNavBar />
		<MobileHeaderText title={title} />
	</div>
</header>
<style>
    .row-logo {
        display: flex;
        justify-content: center;
        background-image: url("/images/background_header.webp");
        background-position-y: center;
        background-size: cover;
        padding: 2rem 0;
    }

    .row-menu {
        display: flex;
        justify-content: center;
        align-items: stretch;
        background-color: var(--navigation_background-color);
        height: 3.75rem;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.25);
    }

    header {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    header:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: radial-gradient(119.72% 309.84% at 50% 143.65%, #EA8867 8.37%, #7B5B8E 46.88%);;
    }

    @media (width <= 72em) {
        .row-logo {
            padding: 1rem 3rem;
            height: 7rem;
        }

        .row-menu {
            height: 3.25rem;
        }
    }
</style>
