---
import getTitle from "@server/actions/GetTitle"
import Logo from "@web/components/header/Logo.astro"
import SkipToMainContent from "@web/components/header/SkipToMainContent.astro"
import SemanticHeading from "@web/components/header/SemanticHeading.astro"
import DesktopNavBar from "@web/components/header/DesktopNavBar.astro"
import MobileNavHamburger from "@web/components/header/MobileNavHamburger.astro"
import MobileHeaderText from "@web/components/header/MobileHeaderText.astro"
import type {RelatedPages} from "@server/Utils"

export interface Props { info?: RelatedPages }
const { info } = Astro.props
---
<header>
	<SkipToMainContent />
	<SemanticHeading info={info}/>
	<MobileNavHamburger />
	<div class="row-logo">
		<Logo />
	</div>
	<div class="row-menu">
		<DesktopNavBar />
		<MobileHeaderText info={info}/>
	</div>
</header>
<style>
	.row-logo {
		display: flex;
		justify-content: center;
		background-color: var(--background-color-secondary);
		background: var(--background-header);
		padding: 33px 0;
	}

	.row-menu {
        display: flex;
        justify-content: center;
        align-items: stretch;
        background-color: var(--background-color-secondary);
        height: 60px;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.25);
	}

	header {
		display: flex;
		flex-direction: column;
	}

	@media (max-width: 992px) {
		.row-logo {
			padding: 16px 48px;
			height: 112px;
		}

		.row-menu {
			height: 52px;
		}
	}
</style>
