---
import Logo from "@web/components/header/Logo.astro"
import SkipToMainContent from "@web/components/header/SkipToMainContent.astro"
import SemanticHeading from "@web/components/header/SemanticHeading.astro"
import DesktopNavBar from "@web/components/header/DesktopNavBar.astro"
import MobileNavHamburger from "@web/components/header/MobileNavHamburger.astro"
import MobileHeaderText from "@web/components/header/MobileHeaderText.astro"
import type {RelatedPages} from "@server/Utils"

export interface Props {
	info?: RelatedPages
}
const {info} = Astro.props
---
<header>
    <SkipToMainContent/>
    <SemanticHeading info={info}/>
    <MobileNavHamburger/>
    <div class="row-logo">
        <Logo/>
    </div>
    <div class="row-menu">
        <DesktopNavBar/>
        <MobileHeaderText info={info}/>
    </div>
</header>
<style>
    .row-logo {
        display: flex;
        justify-content: center;
        background-image: url("/images/background_banner.webp");
        background-size: cover;
        padding: 2rem 0;
    }

    .row-menu {
        display: flex;
        justify-content: center;
        align-items: stretch;
        background-color: var(--background-color-secondary);
        height: 3.75rem;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.25);
    }

    header {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    header:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: var(--background-header);
    }

    @media (max-width: 60em) {
        .row-logo {
            padding: 1rem 3rem;
            height: 7rem;
        }

        .row-menu {
            height: 3.25rem;
        }
    }
</style>
