---
import {localizePath} from "astro-i18next"
---
<a href={localizePath("/")}>
    <img src="/logo_degaussing.svg" alt="Degaussing Logo"/>
</a>
<style>
    img {
        width: 613px;
        height: 177px;
    }

    a {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    @media (max-width: 60em) {
        img {
            height: 100%;
            width: auto;
        }
    }
</style>
