---
import {localizePath} from "astro-i18next"
---
<a href={localizePath("/")}>
    <img src="/logo_degaussing.svg" alt="Degaussing Logo"/>
</a>
<style>
    img {
        height: 150px;
    }

    @media (max-width: 60em) {
        img {
            height: 100%;
        }
    }
</style>
