---
import Icon from "@web/components/general/Icon.astro"
import { getLangFromUrl, useLocalizePath } from "@server/i18n/utils"

const language = getLangFromUrl(Astro.url)
const localizePath = useLocalizePath(language)
---
<a href={localizePath("/")}>
	<Icon src="/logo_degaussing.svg" alt="Degaussing Logo"/>
</a>
<style>
    a {
        display: flex;
        height: 150px;
    }

    @media (max-width: 72em) {
        a {
            height: 100%;
        }
    }
</style>
