---
import Icon from "@web/components/general/Icon.astro"
import getHeader from "@server/actions/GetHeader"
import { getLangFromUrl, useLocalizePath } from "@server/i18n/utils"

const language = getLangFromUrl(Astro.url)
const localizePath = useLocalizePath(language)
const header = await getHeader({ language })
---
<a href={localizePath("/")} aria-label="Degaussing Logo">
	<Icon src={header.logo} />
</a>
<style>
    a {
        display: flex;
        height: 150px;
    }

    @media (max-width: 72em) {
        a {
            height: 100%;
        }
    }
</style>
