---
import { getLangFromUrl, useLocalizePath } from "@server/i18n/utils"

const language = getLangFromUrl(Astro.url)
const localizePath = useLocalizePath(language)
---
<a href={localizePath("/")}>
	<img src="/logo_degaussing.svg" alt="Degaussing Logo" />
</a>
<style>
    img {
        height: 150px;
    }

    @media (max-width: 72em) {
        img {
            height: 100%;
        }
    }
</style>
