---
import {t} from "i18next"
import getMenuItems from "@server/actions/GetMenuItems"

const items = getMenuItems({path: Astro.url.pathname})
---
<nav aria-label={t("accesibility.main-menu")}>
    <button id="hamburger-opener" aria-expanded="false" aria-controls="hamburger-dropdown"
            aria-label={t("accesibility.open")}>
        <img src="/icons/hamburger.svg" alt=""/>
    </button>
    <dialog id="hamburger-dropdown" role="menu" inert>
        <button id="hamburger-closer" aria-label={t("accesibility.close")} title={t("accesibility.close")}>
            <img src="/icons/close.svg" alt=""/>
        </button>
        <ul>
					{items.map(item =>
                  <li>
                      <a href={item.href} class={item.selected ? "selected" : ""}>
                          <img src={item.icon} alt=""/>
                          <span>{item.text}</span>
                      </a>
                  </li>
					)}
        </ul>
    </dialog>
</nav>
<script>
	const body = document.querySelector("body")
	const content = document.querySelector("#content-container")
	const opener = document.querySelector("#hamburger-opener")
	const closer = document.querySelector("#hamburger-closer")
	const dialog = document.querySelector("dialog")

	opener.addEventListener("click", () => {
		content.setAttribute("aria-hidden", "true")
		body.setAttribute("class", "no-scroll")//TODO this can be changed to a has() selector once fully supported
		nvm.removeAttribute("inert")

		opener.setAttribute("aria-expanded", "true")

		dialog.showModal()
	})

	closer.addEventListener("click", () => {
		dialog.close()
	})

	dialog.addEventListener("close", () => {
		content.removeAttribute("aria-hidden")
		body.classList.remove("class", "no-scroll")
		dialog.setAttribute("inert", "")
		opener.setAttribute("aria-expanded", "false")
	})
</script>
<style>
    nav {
        display: none;
        flex-direction: column;

        position: absolute;
        left: 0;
        top: 0;

        border-bottom-right-radius: var(--border-radius);
    }

    dialog[open] {
        top: 0;
    }

    dialog:not([open]) {
        top: -100vh;
    }

    #hamburger-dropdown {
        display: flex;
        position: absolute;
        background-color: var(--background-color-secondary);

        width: 100vw;
        height: 100vh;

        z-index: 50;
        transition: 0.50s ease-in-out;

        overflow-y: auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 6rem;
        padding-left: 2rem;

    }

    #hamburger-opener {
        padding: 1rem;
    }

    #hamburger-closer {
        position: absolute;
        top: .5rem;
        right: .5rem;

        padding: 16px;
    }

    li > a {
        color: var(--color-primary);
        font-family: var(--font-family-title);
        font-size: 1.25rem;
        display: flex;
        gap: 1rem;
        align-items: center;

        padding: 1rem;
    }

    li > a.selected {
        color: var(--color-selected);
    }

    li > a.selected > img {
        filter: var(--filter-image-hover);
    }

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        width: 1.5rem;
    }

    @media (max-width: 60em) {
        nav {
            display: flex;
        }
    }
</style>
