---
import getTitleParts from "@server/actions/GetTitleParts"
import type {RelatedPages} from "@server/Utils"
export interface Props { info?: RelatedPages }
const { info } = Astro.props

const title = getTitleParts({path: Astro.url.pathname, info})
---
<span>
    {title.join(" | ")}
</span>
<style>
    span {
        display: none;
    }

    @media (max-width: 992px) {
        span {
            display: flex;
            align-items: center;
            padding: 11px 28px;
            font-size: 30px;
            font-family: var(--font-family-title);
            color: var(--color-selected);
        }
    }
</style>