---
import getSelectedMenu from "@server/actions/GetSelectedMenu"
import getLocalizedPage from "@server/localization/GetLocalizedPage";
import getLocalizedChapter from "@server/localization/GetLocalizedChapter";
import type { RelatedPages } from "@server/Utils"
export interface Props {
	info?: RelatedPages
}
const { info } = Astro.props

const heading = info ?
	`${getLocalizedChapter(info.current.chapter)} | ${getLocalizedPage(info.current.page)}` :
	getSelectedMenu({ path: Astro.url.pathname })
---
<span>
    {heading}
</span>
<style>
    span {
        display: none;
    }

    @media (max-width: 72em) {
        span {
            display: flex;
            align-items: center;
            padding: .75rem 1.75rem;
            font-size: 1.875rem;
            font-family: var(--font-family-title);
            color: var(--header__link--selected_color);
        }
    }
</style>