---
import getMenuItems, { isMenuLink } from "@server/actions/GetMenuItems"
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import MobileLanguageSelector from "@web/components/header/MobileLanguageSelector.astro"

const language = getLangFromUrl(Astro.url);
const t = useTranslations(language);

const items = getMenuItems({ path: Astro.url.pathname, language })
---
<nav aria-label={t("interaction.main-menu")}>
	<button
		id="hamburger-opener"
		aria-expanded="false"
		aria-controls="hamburger-dropdown"
		aria-label={t("interaction.open")}
		title={t("interaction.open")}
	>
		<img src="/icons/hamburger.svg" alt="" />
	</button>
	<dialog id="hamburger-dropdown" inert>
		<button
			id="hamburger-closer"
			aria-expanded="false"
			aria-controls="hamburger-dropdown"
			aria-label={t("interaction.close")}
			title={t("interaction.close")}
		>
			<img src="/icons/close.svg" alt="" />
		</button>
		<ul>
			{items.map(item =>
				<li>
					{isMenuLink(item) ?
						<a href={item.href} class={item.selected ? "selected" : ""}>
							<img src={item.icon} alt="" />
							<span>{item.text}</span>
						</a> :
						<MobileLanguageSelector dropdown={item} />
					}
				</li>
			)}
		</ul>
	</dialog>
</nav>
<script>
	const content = document.querySelector("#content-container")
	const opener = document.querySelector("#hamburger-opener")
	const closer = document.querySelector("#hamburger-closer")
	const dialog = document.getElementById("hamburger-dropdown")

	opener.addEventListener("click", () => {
		content.setAttribute("aria-hidden", "true")
		dialog.removeAttribute("inert")
		opener.setAttribute("aria-expanded", "true")
		closer.setAttribute("aria-expanded", "true")

		dialog.showModal()
	})

	closer.addEventListener("click", () => {
		dialog.close()
	})

	dialog.addEventListener("close", () => {
		content.removeAttribute("aria-hidden")
		dialog.setAttribute("inert", "")
		opener.setAttribute("aria-expanded", "false")
		closer.setAttribute("aria-expanded", "false")
	})
</script>
<style>
    nav {
        display: none;
        flex-direction: column;

        position: absolute;
        left: 0;
        top: 0;

        border-bottom-right-radius: var(--component_border-radius);
    }

    dialog {
        display: flex;
        position: absolute;
        background-color: var(--navigation_background-color);

        width: 100vw;
        height: 100vh;

        z-index: 50;
        transition: top 0.5s ease-in-out;

        overflow-y: auto;
    }

    dialog:not([open]) {
        top: -100vh;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 6rem;
        padding-left: 2rem;

    }

    #hamburger-opener {
        padding: 1rem;
    }

    #hamburger-closer {
        position: absolute;
        top: .5rem;
        right: .5rem;

        padding: 1rem;
    }

    a {
        color: var(--link_color);
        font-family: var(--heading_font-family);
        font-size: 1.25rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        border-radius: var(--component_border-radius);

        padding: 1rem;
    }

    a.selected {
        color: var(--header__link--selected_color);
    }

    a.selected:not(:hover) > img {
        filter: var(--filter-image-hover);
    }

    a:hover {
        color: var(--link_color);
        background-color: var(--header__link--hover_background-color);
    }

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        width: 1.5rem;
    }

    @media (width <= 72em) {
        nav {
            display: flex;
        }
    }

    body:has(dialog[open]) {
        overflow-y: hidden;

        /*
        	TODO see if we still need this

        	Safari is stupid and has a bug since at least 2018.
        	This kinda fixes it but shifts th background 1px.
        	This is barely noticeable and I don't care.
        	Article explaining the issue here:
        	https://medium.com/@jaredt_28429/why-do-hamburger-menus-break-in-ios-safari-e076083bda5c
				*/
        position: fixed;
        width: calc(100vw + 2px);
        transform: translateX(-1px);
    }
</style>
