---
import getSelectedMenu from "@server/actions/GetSelectedMenu"
import getLocalizedPage from "@server/localization/GetLocalizedPage"
import getLocalizedChapter from "@server/localization/GetLocalizedChapter"
import { getLangFromUrl } from "@server/i18n/utils"
import type { RelatedPages } from "@server/Utils"
export interface Props {
	info?: RelatedPages
}
const { info } = Astro.props
const language = getLangFromUrl(Astro.url)

const heading = info ?
	`${getLocalizedChapter(info.current.chapter, language)} | ${getLocalizedPage(info.current.page, language)}` :
	getSelectedMenu({ path: Astro.url.pathname, language })
---
<span>
    {heading}
</span>
<style>
    span {
        display: none;
    }

    @media (max-width: 72em) {
        span {
            display: flex;
            align-items: center;
            padding: .75rem 1.75rem;
            font-size: 1.5rem;
            font-family: var(--font-family-title);
            color: var(--header__link--selected_color);
        }
    }
</style>