---
import getMenuItems from "@server/actions/GetMenuItems"
const items = getMenuItems({path: Astro.url.pathname})
---
<div class="dropdown" id="hamburger-menu">
    <a
            id="open-hamburger"
            href="#hamburger-menu"
            role="button"
    >
        <img src="/icons/hamburger.svg" alt=""/>
    </a>
    <div id="dropdown-list">
        <a
                id="close-hamburger"
                href="#"
                role="button"
        >
            <img src="/icons/close.svg" alt=""/>
        </a>
        <ul>
            {items.map(item =>
            <li>
                <a
                        href={item.href}
                        class={item.selected ? "selected" : ""}
                >
                <img src={item.icon} alt=""/>
                <span>{item.text}</span>
                </a>
            </li>
            )}
        </ul>
    </div>
</div>
<script>
	const handleOnKeyDown = (e) => {
	    if (e.key === "Escape") {
            window.location.href = "#"
            e.preventDefault()
        }
	}

	document.body.addEventListener("keydown", handleOnKeyDown)
</script>
<style>
    .dropdown {
        display: none;
        flex-direction: column;

        position: absolute;
        left: 0;
        top: 0;

        border-bottom-right-radius: var(--border-radius);
    }

    #dropdown-list {
        top: -100vh;

        display: flex;
        position: absolute;
        background-color: var(--background-color-secondary);

        width: 100vw;
        height: 100vh;

        z-index: 50;
        transition: 0.50s ease-in-out;
    }

    #hamburger-menu:target > #dropdown-list {
        top: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: 96px;
        padding-left: 32px;

    }

    #open-hamburger {
        padding: 16px;
    }

    #close-hamburger {
        position: absolute;
        top: 8px;
        right: 8px;

        padding: 16px;
    }

    li > a {
        color: var(--color-primary);
        font-family: var(--font-family-title);
        font-size: 20px;
        display: flex;
        gap: 16px;
        align-items: center;

        padding: 16px;
    }

    li > a.selected {
        color: var(--color-title);
    }

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 24px;
    }

    @media (max-width: 992px) {
        .dropdown {
            display: flex;
        }
    }
</style>
