---
import getTitle from "@server/actions/GetTitle"
import type { RelatedPages } from "@server/Utils"
export interface Props {
	info?: RelatedPages
}
const { info } = Astro.props

const title = getTitle({ path: Astro.url.pathname, info })
---
<h1 class="semantic-only">{title}</h1>
