---
import { ANCHORS } from "@web/Anchors"
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)
---
<a href=`#${ANCHORS.MAIN}`>
	{t("interaction.skip-to-main")}
</a>
<style>
    a {
        top: -100%;

        display: flex;
        position: absolute;

        padding: .5rem;

        color: var(--link_color);
        background-color: var(--navigation_background-color);
        font-family: var(--font-family-title);

        z-index: 50;
        transition: 0.15s ease-in-out;
    }

    a:focus {
        top: 0;
    }

    @media (max-width: 72em) {
        a {
            display: none;
        }
    }
</style>
