main {
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-btn-text: #24292f;
  --color-btn-bg: #f6f8fa;
  --color-btn-border: rgb(27 31 36 / 15%);
  --color-btn-shadow: 0 1px 0 rgb(27 31 36 / 4%);
  --color-btn-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 25%);
  --color-btn-hover-bg: #f3f4f6;
  --color-btn-hover-border: rgb(27 31 36 / 15%);
  --color-btn-active-bg: hsl(220deg 14% 93% / 100%);
  --color-btn-active-border: rgb(27 31 36 / 15%);
  --color-btn-selected-bg: hsl(220deg 14% 94% / 100%);
  --color-btn-primary-border: rgb(27 31 36 / 15%);
  --color-btn-primary-shadow: 0 1px 0 rgb(27 31 36 / 10%);
  --color-btn-primary-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 3%);
  --color-btn-primary-hover-bg: #2c974b;
  --color-btn-primary-hover-border: rgb(27 31 36 / 15%);
  --color-btn-primary-selected-bg: hsl(137deg 55% 36% / 100%);
  --color-btn-primary-selected-shadow: inset 0 1px 0 rgb(0 45 17 / 20%);
  --color-fg-subtle: #6e7781;
  --color-canvas-overlay: #fff;
  --color-canvas-subtle: #f6f8fa;
  --color-border-default: #d0d7de;
  --color-border-muted: hsl(210deg 18% 87% / 100%);
  --color-neutral-muted: rgb(175 184 193 / 20%);
  --color-neutral-subtle: rgb(234 238 242 / 50%);
  --color-accent-fg: #0969da;
  --color-accent-emphasis: #0969da;
  --color-accent-muted: rgb(84 174 255 / 40%);
  --color-accent-subtle: #ddf4ff;
  --color-success-fg: #1a7f37;
  --color-attention-fg: #9a6700;
  --color-attention-muted: rgb(212 167 44 / 40%);
  --color-attention-subtle: #fff8c5;
  --color-danger-fg: #cf222e;
  --color-danger-muted: rgb(255 129 130 / 40%);
  --color-danger-subtle: #ffebe9;
  --color-primer-shadow-focus: 0 0 0 3px rgb(9 105 218 / 30%);
  --color-primer-shadow-inset: inset 0 1px 0 rgb(208 215 222 / 20%);
  --color-scale-gray-1: #eaeef2;
  --color-scale-blue-1: #b6e3ff;

  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-bg-hover: var(--color-scale-gray-1);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-1);

  --color-btn-primary-disabled-bg: #E0AE4FBB;
  --color-btn-primary-disabled-border: transparent;
  --color-btn-primary-disabled-text: #3C3C3BBB;

  --color-btn-primary-bg: #F0BE5F;
  --color-btn-primary-text: #3C3C3B;

  --color-fg-default: #FFFFFF;
  --color-fg-muted: #DDDDDD;

  --color-canvas-default: #036363;
  --color-canvas-inset: #FFFFFF;
}


main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line.svg");
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-default.gif");
}

.gsc-comment-box-markdown-hint {
  display: none;
}

.gsc-comment-box-bottom {
  justify-content: flex-end;
  margin: 0;
}

.gsc-comment-footer {
  display: none;
}

.gsc-replies {
  background-color: #036363;
  display: none;
}

.gsc-comment-box-tabs {
  display: none;
}

.gsc-reply-box {
  display: none;
}

.gsc-comment-box {
  border-width: 0 !important;
}

.gsc-comment {
  border-width: 0;
  margin: 0;
}

.gsc-comment-box-main {
  margin: 0;
}

.color-box-border-info {
  border-width: 0 !important;
}

.gsc-reactions-menu {
  display: none;
}

.gsc-right-header {
  display: none;
}

.input-contrast:focus {
    background-color: var(--color-canvas-inset);
    color: black;
}

.input-contrast {
    resize: none;
}

* {
  font-family: Inter, serif;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.gsc-comment-author > div {
  display: none !important;
}