---
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import type { PageInfo } from "@server/GetPageInfo"
import { ID } from "@web/ID"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

const { info } = Astro.props as { info: PageInfo }
const { description } = info

const paragraphs = description.trim().split("\n").map(p => {
	const parts = p.split(":")
	if (parts.length === 1) return { panel: null, description: parts[0] }
	return { panel: parts[0], description: parts.splice(1).join(":") }
})
---
<div id={ID.TRANSCRIPT} class="transcript">
	<div class="header-container">
		<h2>{t("page-primary.transcript.title")}</h2>
	</div>
	{paragraphs.map(({ panel, description }) =>
		<p>
			{panel && <strong>{panel}:</strong>}
			{description || t("page-primary.transcript.no-description")}
		</p>
	)}
</div>
<style>
    .transcript {
        grid-column: full-width;
        grid-row: transcript;

        background-color: white;
        border-radius: var(--component_border-radius);
        border: var(--border-wide);

        padding: 2.5rem 5.5rem;
    }

    strong {
        font-weight: 600;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 72em) {
        .transcript {
            padding: var(--section--mobile_padding);
        }
    }
</style>
