---
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import type { PageInfo } from "@server/GetPageInfo"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

const { info } = Astro.props as { info: PageInfo }

const NEWSLETTER_ID = {
	es: "hFvILL",
	en: "mLNIzT"
} as const
---
<aside aria-label={t("landmarks.newsletter")}>
	<div class="ml-embedded" data-form={NEWSLETTER_ID[language]}></div>
</aside>
<style>
    aside {
        grid-column: full-width;
        grid-row: newsletter;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        background-color: var(--section_background-color);
        border-radius: var(--component_border-radius);
        border: var(--border-wide);

        padding: 2.5rem 5.5rem;
    }

    :global(.ml-form-embedBody) {
        padding: 0 !important;
    }

    :global(.ml-form-embedBody) :global(*) {
        font-family: var(--text_font-family) !important;
    }

    :global(.ml-form-embedBody) :global(h4) {
        padding: 0 !important;
        font-family: var(--heading_font-family) !important;
        color: var(--heading_color) !important;

    }

    :global(.ml-form-embedBody) :global(input[type=email]) {
        border-color: var(--button_border-color) !important;
    }

    :global(.ml-form-embedBody) :global(input[type=email])::placeholder {
    	color: var(--input--placeholder_color) !important;
    }

    :global(.ml-form-embedBody) :global(button) {
        position: relative;
        transition: var(--link--hover_transition-timing);
    }

    :global(.ml-form-embedBody) :global(button):before {
        content: "";
        position: absolute;
        inset: -1px;
        border-radius: var(--component_border-radius);
        border: 1px solid var(--button_border-color);
    }

    :global(.ml-form-embedBody) :global(button):hover {
        border: 1px solid var(--button_border-color) !important;
    }

    @media (max-width: 72em) {
        aside {
            padding: var(--section--mobile_padding);
        }
    }
</style>
