---
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import type { PageInfo } from "@transport/PageInfo"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

const { info } = Astro.props as { info: PageInfo }

const NEWSLETTER_URL = {
	es: "https://assets.mailerlite.com/jsonp/989761/forms/124424779064149866/subscribe",
	en: "https://assets.mailerlite.com/jsonp/989761/forms/124338419743590345/subscribe"
} as const
---
<aside
	id="newsletter"
	aria-label={t("landmarks.newsletter")}
	aria-live="polite"
	aria-busy="true"
>
	<h2>{t("newsletter.title")}</h2>
	<span class="loader"></span>
	<div id="newsletter__form-container" hidden>
		<p>{t("newsletter.description")}</p>
		<form
			id="newsletter__form"
			action={NEWSLETTER_URL[language]}
			data-code=""
			method="post"
			target="_blank"
		>
			<input id="newsletter__input" type="email" name="fields[email]" placeholder="Email" autocomplete="email" />
			<input type="hidden" name="ml-submit" value="1" />
			<button
				id="newsletter__button"
				class="g-recaptcha"
				data-sitekey="6LeccXQqAAAAAPGs9dstzJZHDENS23T504768yvk"
				data-callback="onNewsletterSubscription"
				disabled="disabled"
			>
				<span>{t("newsletter.subscribe")}</span>
			</button>
			<div class="frc-captcha" data-sitekey="FCMTKQ9P4MKB5SEA"></div>
			<input type="hidden" name="anticsrf" value="true">
		</form>
	</div>
	<p id="newsletter__success-message" hidden>{t("newsletter.success")}</p>
	<p id="newsletter__error-message" hidden set:html={t("newsletter.error")}></p>
</aside>
<style>
    aside {
        grid-column: full-width;
        grid-row: newsletter;

        background-color: var(--section_background-color);
        border-radius: var(--component_border-radius);
        border: var(--section_border);

        padding: var(--section_padding);
    }

    #newsletter__form-container > p {
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        gap: var(--buttons_gap);
        flex-wrap: wrap;
    }

    input {
        font-size: 1rem;
        padding: 0.5rem 0.75rem;
        border-radius: var(--component_border-radius);
        border: 1px solid var(--button_border-color);
        outline-color: var(--input_outline-color);
    }

    button {
        font-size: 1rem;
        color: var(--button_border-color);
        background-color: var(--button_background-color);
        border: 1px solid var(--button_border-color);
        padding: 0.5rem 0.75rem;
        border-radius: var(--component_border-radius);
    }

    button:not([disabled]):hover {
        background-color: var(--button--hover_background-color);
    }

    button:disabled {
        color: var(--button--disabled_color);
        background-color: var(--button--disabled_background-color);
        border-color: transparent;
        cursor: not-allowed;
    }

		aside[aria-busy=false] .loader {
			display: none;
		}

    aside[aria-busy=true] .loader {
        width: 4rem;
        height: 4rem;
        margin-inline: auto;
        border: 5px solid var(--color--white);
        border-bottom-color: var(--color--yellow);
        border-radius: 50%;
        display: block;
        animation: rotation 1s linear infinite;
    }

    aside :global(a) {
        text-decoration: underline;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @media (width <= 72em) {
        h2 {
            font-size: 1.5rem;
        }

        #newsletter__form-container > p {
            margin-bottom: 0.75rem;
        }
    }

    @media (width <= 36em) {
        input {
            /*
							this is a hack so that button only grows when alone in its line.
							We could choose any high number, but 36rem * 2 is 1152px:
							this means "flex-grow: 1" will at most be less than 0.5px, so
							the button will never win a pixel when it competes with the input.
						*/
            flex-grow: 1152;
        }

        button {
            flex-grow: 1;
        }
    }
</style>
