---
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import type { PageInfo } from "@server/GetPageInfo"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

const { info } = Astro.props as { info: PageInfo }

const NEWSLETTER_ID = {
	es: "hFvILL",
	en: "mLNIzT"
} as const
---
<aside aria-label={t("landmarks.newsletter")} id="newsletter">
	<div id="mlb2-15712800" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-15712800">
		<div class="ml-form-align-left ">
			<div class="ml-form-embedWrapper embedForm">


				<div class="ml-form-embedBody ml-form-embedBodyHorizontal row-form">

					<div class="ml-form-embedContent" style=" ">

						<h4>Novedades</h4>
						<p>¡Enterate cuando salen nuevas paginas y otras noticias!</p>

					</div>

					<form class="ml-block-form"
								action="https://assets.mailerlite.com/jsonp/989761/forms/124424779064149866/subscribe" data-code=""
								method="post" target="_blank">


						<div class="ml-form-formContent horozintalForm">
							<div class="ml-form-horizontalRow">
								<div class="ml-input-horizontal">


									<div style="width: 100%;" class="horizontal-fields">


										<div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">

											<!-- input -->
											<input type="email" class="form-control" data-inputmask="" name="fields[email]"
														 placeholder="Email" autocomplete="email">
											<!-- /input -->
										</div>


									</div>

								</div>


								<div class="ml-button-horizontal primary ">

									<button type="submit" class="primary">Subscribir</button>

									<button disabled="disabled" style="display: none;" type="button" class="loading">
										<div class="ml-form-embedSubmitLoad"></div>
										<span class="sr-only">Loading...</span>
									</button>
								</div>
							</div>
						</div>

						<!-- Privacy policy -->

						<!-- /Privacy policy -->


						<div class="ml-form-recaptcha ml-validate-required" style="float: left;">
							<div class="g-recaptcha" data-sitekey="6Lf1KHQUAAAAAFNKEX1hdSWCS3mRMv4FlFaNslaD"></div>
						</div>


						<input type="hidden" name="ml-submit" value="1">


						<div class="ml-mobileButton-horizontal">
							<button type="submit" class="primary">Subscribir</button>
							<button disabled="disabled" style="display: none;" type="button" class="loading">
								<div class="ml-form-embedSubmitLoad"></div>
								<span class="sr-only">Loading...</span>
							</button>
						</div>
						<input type="hidden" name="anticsrf" value="true">
					</form>
				</div>

				<div class="ml-form-successBody row-success" style="display: none">

					<div class="ml-form-successContent">

						<h4>¡Gracias!</h4>
						<p>Te subscribiste al newsletter&nbsp;exitosamente.</p>

					</div>

				</div>
			</div>
		</div>
	</div>


	<script>
		function ml_webform_success_15712800() {
			//var $ = ml_jQuery || jQuery;
			//$('.ml-subscribe-form-15712800 .row-success').show();
			//$('.ml-subscribe-form-15712800 .row-form').hide();
		}
	</script>


	<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v2d8fb22bb5b3677f161552cd9e774127"
					type="text/javascript"></script>
	<script>fetch("https://assets.mailerlite.com/jsonp/989761/forms/124424779064149866/takel")</script>
</aside>
<style>
    aside {
        grid-column: full-width;
        grid-row: newsletter;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        background-color: var(--section_background-color);
        border-radius: var(--component_border-radius);
        border: var(--border-wide);

        padding: 2.5rem 5.5rem;
    }

    :global(.ml-form-embedBody) {
        padding: 0 !important;
    }

    :global(.ml-form-embedBody) :global(*) {
        font-family: var(--text_font-family) !important;
    }

    :global(.ml-form-embedBody) :global(h4) {
        padding: 0 !important;
        font-family: var(--heading_font-family) !important;
        color: var(--heading_color) !important;

    }

    :global(.ml-form-embedBody) :global(input[type=email]) {
        border-color: var(--button_border-color) !important;
    }

    :global(.ml-form-embedBody) :global(input[type=email])::placeholder {
        color: var(--input--placeholder_color) !important;
    }

    :global(.ml-form-embedBody) :global(button) {
        position: relative;
        transition: var(--link--hover_transition-timing);
    }

    :global(.ml-form-embedBody) :global(button):before {
        content: "";
        position: absolute;
        inset: -1px;
        border-radius: var(--component_border-radius);
        border: 1px solid var(--button_border-color);
    }

    :global(.ml-form-embedBody) :global(button):hover {
        border: 1px solid var(--button_border-color) !important;
    }

    @media (max-width: 72em) {
        aside {
            padding: var(--section--mobile_padding);
        }
    }

    .ml-form-recaptcha {
        margin-bottom: 20px;
    }

    .ml-form-recaptcha.ml-error iframe {
        border: solid 1px #ff0000;
    }

    @media screen and (max-width: 480px) {
        .ml-form-recaptcha {
            width: 220px !important
        }

        .g-recaptcha {
            transform: scale(0.78);
            -webkit-transform: scale(0.78);
            transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
        }
    }
</style>