---
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import type { PageInfo } from "@server/GetPageInfo"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

const { info } = Astro.props as { info: PageInfo }

//TODO captcha <div class="g-recaptcha" data-sitekey="6Lf1KHQUAAAAAFNKEX1hdSWCS3mRMv4FlFaNslaD"></div>

const NEWSLETTER_ID = {
	es: "hFvILL",
	en: "mLNIzT"
} as const
---
<aside aria-label={t("landmarks.newsletter")} id="newsletter">
	<h2>Novedades</h2>
	<p>¡Enterate cuando salen nuevas paginas y otras noticias!</p>


	<form
		class="ml-block-form"
		action="https://assets.mailerlite.com/jsonp/989761/forms/124424779064149866/subscribe"
		data-code=""
		method="post"
		target="_blank"
	>


		<input type="email" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email" />
		<input type="hidden" name="ml-submit" value="1" />


		<div class="ml-mobileButton-horizontal">
			<button type="submit" class="primary">Subscribir</button>
			<button disabled="disabled" type="button" class="loading">
				<span class="sr-only">Loading...</span>
			</button>
		</div>
		<input type="hidden" name="anticsrf" value="true">
	</form>

	<div class="ml-form-successBody row-success" style="display: none">

		<div class="ml-form-successContent">

			<h4>¡Gracias!</h4>
			<p>Te subscribiste al newsletter exitosamente.</p>

		</div>

	</div>
</aside>
<style>
    aside {
        grid-column: full-width;
        grid-row: newsletter;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        background-color: var(--section_background-color);
        border-radius: var(--component_border-radius);
        border: var(--border-wide);

        padding: 2.5rem 5.5rem;
    }
</style>