---
import Header from '../components/Header.astro';
import Resets from '@julian_cataldo/astro-resets/Resets.astro';
import '@fontsource/germania-one';
import '@fontsource/inter';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>{title}</title>
	    <link rel="icon" href="/favicon.ico"/>
	    <Resets/>
	</head>
	<body>
    	<Header/>
    	<div class="dynamic-content">
    		<slot/>
		</div>
	</body>
</html>

<style>
    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .dynamic-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom, #1D1D1B, #E5E5E5);
    }
</style>