---
import { Image } from "astro:assets"
import SecondaryLayout from "@web/layouts/SecondaryLayout.astro"
import Section from "@web/components/page-secondary/SecondaryPageSection.astro"
import SectionHeading from "@web/components/general/SectionHeading.astro"
import getChaptersInfo from "@server/actions/GetChaptersInfo"
import { getLangFromUrl, useTranslations, useLocalizePath, LANGUAGE_CODES } from "@server/i18n/utils"

export async function getStaticPaths() {
	return Promise.all(LANGUAGE_CODES.map(async (language) => ({
		props: { chapters: await getChaptersInfo({ language }) },
		params: {
			lang: language,
			chapters: useTranslations(language)("url.chapters")
		}
	})))
}

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)
const localizePath = useLocalizePath(language)

const { chapters } = Astro.props as Awaited<ReturnType<typeof getStaticPaths>>[0]["props"]
---
<SecondaryLayout title={t("menu.chapters")}>
	<Section>
		<SectionHeading>{t("menu.chapters")}</SectionHeading>
		<ol>
			{
				chapters.map((chapter, i) => (
					<li>
						<a href={localizePath(`/${t("url.chapters")}/${chapter.number}/${t("url.pages")}`)}>
							<Image src={chapter.cover} alt="" width={282} height={399} />
							<h4>{t("comic.chapter.singular")} {i + 1}</h4>
							<span>{chapter.pagesAmount} {t("chapters.pages")}</span>
						</a>
					</li>
				))
			}
		</ol>
	</Section>
</SecondaryLayout>
<style>
    a {
        position: relative;
        display: flex;
        flex-direction: column;
        isolation: isolate;
        transition: var(--link--hover_transition-timing);
        transition-property: transform;
    }

    ol:has(a:hover) a:not(:hover) {
        transform: scale(0.95);
    }

    a:hover {
        transform: scale(1.05);
    }

    ol {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        gap: 1.5rem;
        margin-bottom: 0.5rem;
    }

    img {
        width: 100%;
        height: auto;
        aspect-ratio: var(--strip_aspect-ratio);

        margin-bottom: 1.25rem;

        border-radius: var(--component_border-radius);
    }

    h4 {
        font-size: 2rem;

        margin-bottom: .5rem;
        user-select: none;
    }

    span {
        color: var(--text--muted_color);
        font-size: .875rem;
        user-select: none;
    }
</style>
